.additionalInf {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap: 10px;

    align-self: center;
    align-content: center;
    margin: 0 auto;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

    border-radius: 6px 6px 6px 6px;
    box-shadow: var(--color-article-shadow) 2px 2px 4px 2px;
}

@media screen and (min-width: 981px) {
    .additionalInf {
        --defining-width: 85%;
        width: var(--defining-width);
        height: 100%;
    }
}

@media screen and (min-width: 620px) and (max-width: 980px) {
    .additionalInf {
        --defining-width: 95%;
        width: var(--defining-width);
        height: 100%;
    }
}

@media screen and (max-width: 619px) {
    .additionalInf {
        --defining-width: 95%;
        width: var(--defining-width);
        height: fit-content;
    }
}

.additionalInf>div {
    background-color: var(--color-bg-second);
    margin-left: 3%;
    margin-right: 3%;
}

.additionalInf>div>h3 {
    color: var(--color-base-text-article);
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 2%;
    padding-top: 3%;
}

.additionalInf>div>p {
    color: var(--color-base-text-article);
    font-size: 1rem;
    padding: 4%;
    text-align: left;
    flex-shrink: 1;
}

.pull_div {
    display: grid;
    grid-template-columns: 0.1fr 0.65fr 0.25fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding-left: 10px;
}