#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main>section {
  position: relative;
  margin-top: calc(0.01*100vh);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.expanded {
  width: 97%;
}


main>aside>picture {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;
}


.headerPict, .headerDiv {
  inset: 0;
  margin: 1% auto;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerPict{
  background-color: var(--color-bg-first);
  mask-image: radial-gradient(var(--color-bg-first) 40%, transparent 60%);
}

.headerDiv {
  background-color: var(--color-bg-first);
  box-shadow:
    1px 1px var(--color-article-shadow),
    -1em 0 0.4em var(--color-article-shadow);
}

header>div>h1 {
  align-self: center;
}

.thanks_to {
  background-color: #454545;
  position: fixed;
  bottom: 2%;
  left: 5%;
}

.thanks_to>p {
  box-shadow: rgb(0, 0, 0) 2px 2px 5px 2px;
  padding: 1px 2px 2px 1px;
  color: #d1d1d1;
  font-size: 12px;
}

/* main and  aside for screens*/

@media screen and (max-width: 430px) {
  main {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: calc(100vw * 0.9);
  }

  main>section {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  aside {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }

  .headerPict {
    position: fixed;
    top: 120px;
    width: 100%;
    height: fit-content;
    padding: 20px 15px 20px 15px;
  }

  .headerDiv {
    position: fixed;
    top:120px;
    width: fit-content;
    height: fit-content;
    padding: 20px 15px 20px 15px;
  }
}

@media screen and (min-width: 431px) {
  main {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 87% 13%;
  }

  main>section {
    grid-row: 1/2;
    grid-column: 1/2;
  }


  aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .headerPict {
    position: fixed;
    width: 100%;
    height: fit-content;
    padding: 20px 15px 20px 15px;
  }

  .headerDiv {
    position: fixed;
    width: fit-content;
    height: fit-content;
    padding: 20px 15px 20px 15px;
  }

}

/* stretched for screens */

@media screen and (max-width: 400px) {

  .strechted {
    width: 100%;
    margin: 0 auto;
  }

}

@media screen and (min-width:401px) and (max-width:980px) {

  .strechted {
    width: 70%;
    min-width: 380px;
    margin: 0 auto;
  }

}


@media screen and (min-width: 981px) {

  .strechted {
    width: 50%;
    margin-left: 48%;
    margin-right: 0.5%;
  }

}



/* aboutMe and aboutMeHalf */

.aboutMe,
.aboutMeHalf {
  background-color: transparent;
  border-radius: 6px 6px 6px 6px;
  box-shadow: var(--color-article-shadow) 2px 2px 4px 2px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;

}

.aboutMe>div,
.aboutMeHalf>div {
  width: 80%;
  margin: 0 auto;
  background-color: var(--color-bg-second);
  padding: 0.5em;
}

.aboutMe>div+div>h3,
.aboutMe>div+div>p {
  margin-left: 2px;
  text-align: left;
  padding-bottom: 0.2em;
}

.aboutMe>div+div>p {
  line-height: 1.5;
  font-size: 1.2rem;
}

.aboutMe>div+div>p>span {
  font-size: larger;
  padding-right: 2px;
}

@media screen and (max-width: 980px) {
  .aboutMe,  .aboutMeHalf{
    margin-top: 100px;
    padding: 2em 0 2em 0;
  }
}

@media screen and (min-width: 981px) {
  .aboutMe, .aboutMeHalf {
    margin-top: 120px;
    padding: 5em 0.2em 5em 0.2em;
  }
}

#sunglasses {
  color: var(--color-sunglasses);
  transform: translateY(-20%);
}