.buttonA {
    z-index: 1;
    padding: 0.3em 0.9em;
    transition: transform 250ms ease-in-out;
    width: 55px;
    box-shadow: #e7e7e7 2px 2px 5px 2px;
}

.buttonA:hover {
    transform: scale(1.1);
}

.buttonA:active {
    transform: scale(1.1);
}