.buttonA, .buttonB, .buttonC, .buttonD {
    border-radius: 8px;
    border: 1px solid transparent;
    z-index: 1;
    padding: 0.3em 0.9em;
    transition: transform 250ms ease-in-out, border-color 0.25s;
    width: 55px;
    box-shadow: #e7e7e7 2px 2px 5px 2px;
    background-color: var(--color-bg-button);
    color: var(--color-text-button);
    cursor: pointer;
}

.buttonA:hover, .buttonB:hover, .buttonC:hover, .buttonD:hover{
    transform: scale(1.1);
}

.buttonA:active, .buttonB:active, .buttonC:active, .buttonD:active {
    transform: scale(1.1);
}


.buttonA:hover{
    border-color: #242424;
}

.buttonB{
    color: rgb(0, 162, 255);
}
.buttonB:hover{
    border-color: rgb(0, 162, 255);
}


.buttonC{
    color: orange;
}
.buttonC:hover{
    border-color: orange;
}


.buttonD{
    color: var(--color-border-button);
}
.buttonD:hover{
    border-color: var(--color-border-button);
}