.savate-medium, h1, h2 {
  font-family: "Savate", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* define light dark colors*/

.light {
  --color-bg-first: #f6f6f6;
  --color-base-text: #3d3d3d;
  --color-a-hover: lightgreen; 
  --color-text-button: #b0b0b0;
  --color-bg-button: #4f4f4f;
  --color-border-button: lightgreen;

}

.dark {
  --color-bg-first: #3d3d3d;
  --color-base-text: #f5f8fa;
  --color-a-hover: lightgreen;
  --color-text-button:#d1d1d1;
  --color-bg-button: #6d6d6d;
  --color-border-button: lightgreen;
 
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  background-attachment: fixed;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-a-hover);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-a-hover);
}

body {
  margin: 0;
  display: flex;
  place-items:inherit;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--color-bg-first);
  color:var(--color-base-text);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
}

h3 {
  font-size: 1.9em;
  line-height: 1;
}

p {
  font-size: 1em;
  line-height: 1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 0.9em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-bg-button);
  color: var(--color-text-button);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-border-button);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
