.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: transparent;

  /*grid defined in each screen*/
  align-items: center;
  align-content: center;
  padding: 4em 0.4em;
  border-radius: 6px;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 0.1fr 0.2fr;
  align-self: center;
  align-content: center;
  margin: 0 auto;
    
  border-radius: 6px 6px 6px 6px;
  box-shadow: var(--color-article-shadow) 2px 2px 4px 2px;
}

 .projectImg {
   display: grid;
   margin: 0 auto;
   border-left: var(--color-bg-second) solid 3px;
   border-right: var(--color-bg-second) solid 3px;
 }

@media screen and (min-width: 981px) {

  .content {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(210px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 40px;
    column-gap: 20px;
  }

  article {
    --defining-width: 85%;
    width: var(--defining-width);
    height: 100%;
  }

  .projectImg {
    width: calc(var(--defining-width)*0.9);
    max-width: var(--defining-width);
    height: auto;
    max-height: 230px;
  } 


  .divDescriptionArticle>p {
    padding-top: 3%;
  }
}


@media screen and (min-width: 620px) and (max-width: 980px) {

  .content {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(210px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 40px;
    column-gap: 20px;
  }

  article {
    --defining-width: 95%;
    width: var(--defining-width);
    height: 100%;
  }

  .projectImg {
    width: auto;
    max-width: var(--defining-width);
    height: var(--defining-width);
    max-height: 230px;
  } 

}


@media screen and (max-width: 619px) {

  .content {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(210px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 40px;
  }

  article {
    --defining-width: 95%;
    width: var(--defining-width);
    height: fit-content;
  }

  .projectImg {
    width: auto;
    max-width: var(--defining-width);
    height: var(--defining-width);
    max-height: 230px;
  } 

}

.divImgArticle {
  grid-column: 1/2;
  grid-row: 1/2;
  box-shadow: var(--color-bg-first) 2px 2px 2px 2px;
}

.divNameArticle {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  background-color: var(--color-bg-second);
}

.divNameArticle>h3 {
  color: var(--color-base-text-article);
  font-size: 1.2rem;
  font-weight: 700;
  padding-left: 2%;
  padding-top: 3%;
}

.divNameArticle>div {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 10px;
  padding-top: 3.5%;
}

.divDescriptionArticle {
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.85fr 0.15fr;
  background-color: var(--color-bg-second);

  align-items: center;
  padding-bottom: 1.5%;
  border-radius: 0px 0px 6px 6px;
}

.divDescriptionArticle>p {

  color: var(--color-base-text-article);
  font-size: 1rem;
  padding: 4%;
  text-align: left;
  flex-shrink: 1;
}


.divIcons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 2%;
}

.shadow{
  box-shadow: #e7e7e7 1px 1px 1px 1px;
}